

<div class="container">
  <div class="side">
    <div class="pbox1">
  
      <img class="image" src="../assets/fifi2.jpg">
   
    </div>
   
    <div class="content">
      <div class="about">
      <h3>ABOUT ME</h3>
      <P id="yes">Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
        Voluptate officia assumenda voluptatibus eum minima odit
         nostrum ex quaerat optio sunt, dolorem eveniet quae? 
         Consectetur, voluptates? Laudantium quaerat recusandae
          </P>
</div>

<div class="contact">
    <h3>CONTACT ME</h3>
  <ul>
    <li>060 486 9249</li>
    <li>refdikutle@gmail.com</li>
    <li>78 Bathoeng str Diepkloof</li>
    <li>Soweto 1862</li>
  </ul>
</div>
      <div class="follow">
        <h3>FOLLOW ME</h3>
        <ul>
         <li><a routerLink="#" >facebook.com/fifiDiks</a></li>
          <li><a routerLink="#">dribble.com/fenfe</a></li>
          <li><a>behance.net/fifla9</a></li>
        </ul>
      </div>

      <div class="skills">
        <h3>PRO SKILLS</h3>
        <ul>
          <li>HTML5</li>
          <li>CSS3</li>
          <li>TYPESCRIPT</li>
          <li>ANGULAR</li>
          <li>NODE.js</li>
          <li>IONIC</li>
        </ul>
      </div>
    </div>
  </div>
  <!-- side 2 starts -->
  <div class="side2">
    <div class="header">
      <h2>REFILOE DIKUTLE</h2>
      <p id="head">MOBILE DEVELOPER</p>
    </div>

    <div class="exper">
      <h2 class="headers"><img src="../assets/icons8-person-64.png" width="5%" class="icons">JOB EXPERIENCES</h2>    <hr>
      <ul>
        <li><h3 class="smallH">one</h3></li>
        <p>Lorem ipsum,
           dolor sit amet consectetur 
           adipisicing elit. Ea, nam!</p>

           <li><h3 class="smallH">two</h3></li>
           <p>Lorem ipsum dolor sit, amet consectetur
              adipisicing elit. Similique, dignissimos.</p>

              <li><h3 class="smallH" >three</h3></li>
              <p>Lorem ipsum dolor sit amet consectetur 
                adipisicing elit. Officia, nulla!</p>
      </ul>
    </div><!-- end of part 1 -->

    
    <div class="educa">
      <h2 class="headers" ><img src="../assets/icons8-person-64.png" width="5%" class="icons" >EDUCATION</h2>
      <hr>
        <ul>
          <li><h3 class="smallH" >one</h3></li>
          <p>Lorem ipsum,
             dolor sit amet consectetur 
             adipisicing elit. Ea, nam!</p>
  
             <li><h3 class="smallH">two</h3></li>
             <p>Lorem ipsum dolor sit, amet consectetur
                adipisicing elit. Similique, dignissimos.</p>
  
                <li><h3 class="smallH" >three</h3></li>
                <p>Lorem ipsum dolor sit amet consectetur 
                  adipisicing elit. Officia, nulla!</p>
        </ul>
      </div><!-- end of part 2 -->
  

      
    <div class="ref">
        <h2 class="headers" ><img src="../assets/icons8-person-64.png" width="5%" class="icons" >EDUCATION</h2>    <hr>
        <ul>
          <li><h3 class="smallH">one</h3></li>
          <p>Lorem ipsum,
             dolor sit amet consectetur 
             adipisicing elit. Ea, nam!</p>
  
             <li><h3 class="smallH">two</h3></li>
             <p>Lorem ipsum dolor sit, amet consectetur
                adipisicing elit. Similique, dignissimos.</p>
  
                <li><h3 class="smallH">three</h3></li>
                <p>Lorem ipsum dolor sit amet consectetur 
                  adipisicing elit. Officia, nulla!</p>
        </ul>
      </div><!-- end of part 3 -->
  
  </div>
</div>